/* nosebite Studios 2020 */
/* See license for terms and conditions of use */

* {
	margin:0;
	padding:0;
}
html {
	font-size: 16px;
}
a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
    cursor: pointer;
}
html {
	scroll-behavior: smooth;
}

/* Fonts */
.studio-logo {
	font-family: 'Libre Barcode 128 Text', cursive;
}
.headers {
	font-family: 'Martel', serif;
}
.regular-text {
	font-family: 'Titillium Web', sans-serif;
}