/* nosebite Studios 2020 */
/* See license for terms and conditions of use */

* {
	margin:0;
	padding:0;
}
html {
	font-size: 16px;
}
a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
    cursor: pointer;
}
html {
	scroll-behavior: smooth;
}

/* Fonts */
.font-barcode {
	font-family: 'Libre Barcode 128 Text', cursive;
}
.font-title {
	font-family: 'Jost', sans-serif;
}
.font-sans {
	font-family: 'Quicksand', sans-serif;
}

/* Text styles */
.text-heading {
	font-size: 4rem;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}
.text-title {
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.text-medium {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.text-regular {
	font-size: 1.3rem;
	font-weight: normal;
	text-align: start;
	text-decoration: none;
}
.text-right {
	text-align: right;
}

/* Alignments */
.centered {
	position: relative;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
}
.flex-centered-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Margins and paddings */
.margin-small {
	margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.margin-regular {
	margin: 1rem 1rem 1rem 1rem;
}
.margin-large {
	margin: 2.5rem 2.5rem 2.5rem 2.5rem;
}
.margin-centered {
	margin-left: auto;
	margin-right: auto;
}

.padding-regular {
	padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}
.padding-large {
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.padding-giant {
	padding: 1rem 1rem 1rem 1rem;
}

/* Sizes */
.half-width {
	width: 50%;
	height: auto;
}
.two-thirds-width {
	width: 66%;
	height: auto;
}
.full-size {
	width: 100%;
	height: auto;
	overflow: hidden;
}

/* Links */
.custom-link {
	color: #222222;
	text-decoration: none;
}
.custom-link:hover {
	color: #464646;
}
.custom-link:active {
	color: #464646;
}

/* Tabs */
.tab-container {
	background-color: rgba(255, 255, 255, 0.315);
	border-radius: 10px;
}
.tabcontent-container {

}
.tablink {
	color: #222222;
	border: transparent solid 5px;
	border-radius: 5px;
	transition: color .5s;
}
.tablink:hover {
	color: #464646;
}
.active {
	color: #464646;
	border-bottom: #9797974b solid 5px;
}
.tabcontent {
	animation: fadeEffect 1s;
}

#research-tab {
	background: url('./img/background_research.png') no-repeat center;
	background-size: cover;
}
#about-tab {
	background: url('./img/background_about.png') no-repeat center;
	background-size: cover;
}
#privacy-policy {
	background: url('./img/background_privacy.png') no-repeat center;
	background-size: cover;
}

/* Grids */
.two-column-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	justify-content: center;
	align-content: center;
}
.three-column-grid {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: auto;
	justify-content: center;
	align-content: center;
}

/* Unique elements */
.applogo {
	width: auto;
	max-height: 12rem;
}
.studiologo {
	width: auto;
	max-height: 8rem;
}
.heading {}
.container-background {
	background: url("./img/background.png") no-repeat center;
	background-size: cover;
}
.about-content {}

/* Animations */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
  }